body {
    font-family: 'poppins', sans-serif;
}

/* INÍCIO INDEX.HTML */
/* Início header */
header {
    background-color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#logoCPTM {
    margin: 1vh;
}

#menuSandwich {
    margin: 1vh;
    transform: scale(0.8);
}

#perfil {
    margin: 1vh;
}
/* Fim header */

/* Início menu Planeje Sua Viagem */
.menuPlanejeSuaViagem {
    background-color: #A7A7A7;
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerPlanejeSuaViagem {
    background-color: white;
    height: 10vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whiteButton {
    width: 88vw;
    font-size: 2vh;
    font-weight: bold;
}

/* TODO: estilização da seleção das estações */

.dateButton {
    margin: 2vh;
    border: 0;
    border-radius: 10px;
}

.redButton {
    background-color: #FF0000;
    color: white;
    width: 90vw;
    border-radius: 10px;
    font-size: 3vh;
    border: 0;
    margin: 1vh;
    font-weight: bold;
}
/* Fim menu Planeje Sua Viagem */

/* Início menu Informações Sobre Estações */
.containerInformacoesSobreEstacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    margin-left: 50vh;
    margin-right: 50vh;
}

.popupInformacoesEstacoes {
    position: fixed;
    top: 50%;
    left: 40%;
    width: 35vh;
    height: 30vh;
    background-color: #A7A7A7;
    border-radius: 10px;
    padding: 1vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.redContainer {
    background-color: #FF0000;
    color: white;
    width: 35vh;
    border-radius: 10px;
    font-size: 3vh;
    border: 0;
    margin-bottom: 1vh;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.whiteContainer {
    background-color: white;
    width: 35vh;
    border-radius: 10px;
    height: 3vh;
    margin: 1vh;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
}
/* Fim menu Informações Sobre Estações */

/* Início mapa CPTM */
.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: auto;
    margin-bottom: 5vh;
}
/* Fim mapa CPTM */

/* Início contatos */
.containerContatos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 35vh;
    margin-right: 35vh;
    margin-bottom: 3vh;
}

h5 {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

h6 {
    font-size: 16px;
    margin: 10px;
    font-weight: 500;
}
/* Fim contatos */

/* Início redes sociais */
.redesSociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 35vh;
    margin-right: 35vh;
    margin-bottom: 3vh;
}
/* Fim sociais */

/* Início botão entre em contato */
.contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupEntreEmContato {
    position: fixed;
    top: 50%;
    left: 40%;
    width: 35vh;
    height: 40vh;
    background-color: #A7A7A7;
    border-radius: 10px;
    padding: 1vh;
    padding-top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    height: 3vh;
    margin: 1vh;
}

input {
    border-radius: 10px;
    height: 3vh;
    width: 34vh;
}

#mensagem {
    height: 7vh;
}

#enviar {
    width: 10vh;
    position: absolute;
    bottom: 10px;
    margin-bottom: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
}
/* Fim botão entre em contato */

footer {
    background-color: #A7A7A7;
    text-align: center;
}
/* FIM INDEX.HTML */

/* INÍCIO INDEXINFORMAÇÕES.HTML */
/* Início Estações */
.estacoes {
    width: 90vw;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 5vh;
    border-radius: 10px;
    background-color: #A7A7A7;
}

.recentes {
    text-align: center;
}

table {
    /* border-collapse: collapse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

tr, td {
    text-align: left;
    width: 100vh;
    text-align: center;
}

thead tr {
    background-color: #A7A7A7;
}

tbody td {
    background-color: white;
}

#iconeEstacao {
    transform: scale(0.5);
}

/* Fim Estações */
/* FIM INDEXINFORMAÇÕES.HTML */