* {
    margin: 0;
    padding: 0;
    
}

/* Header */

header {
    background-color: white;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

 header .icone-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

#perfil-icon {
    margin-top: 10px;
}

#menu-sandwich-icon {
    font-weight: lighter;
}

.menu {
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}
/* Mapa CPTM */

.mapaCPTM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Fim header */

.planejeSuaViagem {
    background-color: #A7A7A7;
    margin-bottom: 10px;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxPlanejeSuaViagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 90vw;
    height: 100px;
    border-radius: 10px;
    
}

.boxPlanejeSuaViagem button {
    margin: 15px;
    border: none;
}

.planejeSuaViagem img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;

}

.bOrigensDestino button {
    font-weight: bold;
    margin-left: 25px;
}

.linhaCinza {
    border: none;
    height: 1px;
    background-color: gray;
    
    width: 60vw;
    margin-left: 25px;
}

#bPartida {
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin: 10px;
}

.dateIcon {
    margin-left: 10px;
    color: white;
    width: 20px;
    height: 20px;
}

#bPlanejeSuaViagem {
    background-color: #FF0000;
    color: #FFFFFF;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: none;
    width: 90vw;
    height: 30px;
}

.bVermelho {
    background-color: #FF0000;
    color: #FFFFFF;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: none;
    width: 90vw;
    height: 30px;
}

.whiteButton {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.mapaCPTM {
    display: flex;
}

.grayButton {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatosPai {
    height: 100px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.contatosTelefones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.contatosNomes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-wrap: wrap;
    text-align: left;
}

.logos {
    display: flex;
    flex-direction:  row;
    
}

.logos svg {
    margin-top: 20px;
    margin-left: 10px;
}


/* Footer */

footer {
    background-color: #A7A7A7;
    color: #000000;
    text-align: center;
    font-weight: lighter;
}


/* Fim footer */


/* indexEstacoes */

.recentes {
    background-color: #A7A7A7;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.recentes-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoRecentes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.estacao  .linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}

.estacaoPlanejeSuaViagem {
    background-color: #FF0000;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.popUp {
    width: 400px;
    height: 350px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popUp2 {
    width: 400px;
    height: 350px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
